.App {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
}

.products {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.productImg {
  width: 100px;
  height: 100px;
}